<?xml version='1.0' encoding='utf-8'?>
<widget id="com.politics" version="1" versionCode = "1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Politics</name>
    <description>
        POLITIKO - is a news and social media portal about politicians, their relatives and allies in the Philippines.
    </description>
    <author email="admin@politics.com.ph" href="http://politics.com.ph/">
        admin@politics.com.ph
    </author>

    <content src="index.html" />

    <!-- Android  -->
    <icon src="res/icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="res/icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="res/icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="res/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="res/icons/android/icon-144-xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

	<!-- iPhone / iPod Touch  -->
	<icon src="res/icons/ios/AppIcon60x60.png" gap:platform="ios" width="60" height="60" />
	<icon src="res/icons/ios/AppIcon60x60@2.png" gap:platform="ios" width="120" height="120" />

	<!-- iPad -->
	<icon src="res/icons/ios/AppIcon76.png" gap:platform="ios" width="76" height="76" />
	<icon src="res/icons/ios/AppIcon76x76@2.png" gap:platform="ios" width="152" height="152" />

	<!-- Settings Icon -->
	<icon src="res/icons/ios/AppIcon29.png" gap:platform="ios" width="29" height="29" />
	<icon src="res/icons/ios/AppIcon29x29@2.png" gap:platform="ios" width="58" height="58" />

	<!-- Spotlight Icon -->
	<icon src="res/icons/ios/AppIcon40.png" gap:platform="ios" width="40" height="40" />
	<icon src="res/icons/ios/AppIcon40x40@2.png" gap:platform="ios" width="80" height="80" />

    <!-- iPad -->
    <icon src="res/icons/ios/AppIcon57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icons/ios/AppIcon57x57@2.png" gap:platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="res/icons/ios/AppIcon72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/AppIcon72x72@2.png" gap:platform="ios" width="144" height="144" />

    <access origin="*" subdomains="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="3.5.0" />


    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />

    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager" />
    </feature>
</widget>
